---
import Base from "../layouts/Base.astro";
import {portfolio} from "../data.json";
import PortfolioItem from "../components/PortfolioItem.astro";
---

<Base title="Portfolio">
	<section id="intro" class="m-auto max-w-250 h-150 place-self-center flex flex-col place-content-center gap-4 px-2
							   sm:px-4 md:px-8 lg:px-18 lg:gap-8" >
		<h1 class="sr-only">Helen McKay is a web developer in Houston, TX.</h1>
		<p class="text-3xl/tight text-balance
				  sm:text-4xl/tight md:text-5xl/tight lg:text-6xl/tight"><span>Helen McKay</span> is a web developer in Houston, TX making modern, lightweight websites for nonprofits, small creatives, and more.</p>
		<p class="text-2xl/normal
				  sm:text-3xl/normal
				  md:text-4xl/normal lg:text-5xl/tight"><span>Open</span> to new projects.</p>
	</section>
	<section id="portfolio" class="grid max-w-250 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 place-self-center gap-2 md:gap-3 md:mx-2">
		<h2 class="sr-only">Portfolio</h2>
		{portfolio.map(p => <PortfolioItem data={p}/>)}
	</section>
</Base>

<style>
	.sr-only {
		display: none;
	}

	#intro p {
		color: var(--color-zinc-300);
	}

	#intro p span {
		font-weight: bold;
		color: var(--color-zinc-50);
	}	
</style>
