---
import Base from "../layouts/Base.astro";
import {portfolio} from "../data.json";
import PortfolioItem from "../components/PortfolioItem.astro";
---

<Base title="Portfolio" description="Official portfolio site for Helen McKay, a web developer in Houston, TX.">
	<section id="intro" class="m-auto max-w-250 h-170 place-self-center flex flex-col place-content-center gap-4 px-2
							   sm:px-4 md:px-8 lg:px-18 lg:gap-8" >
		<h1 class="sr-only">Helen McKay is a web developer in Houston, TX.</h1>
		<p class="text-3xl/tight text-balance
				  sm:text-4xl/tight md:text-5xl/tight lg:text-6xl/tight"><span>Helen McKay</span> is a web developer in Houston, TX making modern, lightweight websites for nonprofits, small creatives, and more.</p>
		<p class="text-2xl/normal
				  sm:text-3xl/normal
				  md:text-4xl/normal lg:text-5xl/tight"><span>Open</span> to new projects.</p>
	</section>
	<section id="portfolio" class="place-self-center max-w-250">
		<h2 class="uppercase text-lg/tight lg:text-xl/tight mb-4 font-bold tracking-wide">Portfolio</h2>
		<div id="portfolio-content" class="grid w-full grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-3">
			{portfolio.map(p => <PortfolioItem data={p}/>)}
		</div>
	</section>
</Base>

<style>
	.sr-only {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	#intro p {
		color: var(--color-zinc-300);
	}

	#intro p span {
		font-weight: bold;
		color: var(--color-zinc-50);
	}	
</style>

<script>
    import { animate, stagger, inView, prefersReducedMotion, hover, press } from "motion";

	if (!prefersReducedMotion.current?.valueOf)
	{
		inView(
		"#portfolio-content",
		(element) => {
			animate(element, { opacity: [0, 1], y: [50, 0] }, { ease: [0.39, 0.24, 0.3, 1], duration: 1 });

			const cards = element.querySelectorAll(".portfolio-item");
			if (cards.length > 0) {
			animate(cards, { opacity: [0, 1], y: [25, 0] }, { type: "spring", delay: stagger(0.25, { startDelay: 0.25 }) });
			}
		},
		{ amount: 0.25 }
		);

		hover(".portfolio-item-link", (element) => {
			animate(element, { scale: 1.05});

			return () => animate(element, {scale: 1});
		});

		press(".portfolio-item-link", (element) => {
			animate(element, {scale: 0.95});

			return () => animate(element, {scale: 1})
		});
	}
    
</script>