---
const { title } = Astro.props;
import NavLink from "../components/NavLink.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Helen McKay | {title}</title>
	</head>
	<body>
		<div id="wrapper" class="min-w-(--breakpoint-xs)">
			<header class="flex">
				<nav class="m-auto max-w-250 w-full flex place-content-between p-3
							sm:p-4 md:pt-8 md:px-6 align-baseline">
					<h1 class="font-bold text-base/normal md:text-lg/normal"><a title="Helen McKay" href="/">H</a></h1>
					<div id="nav-link-container" class="flex gap-3
							 sm:gap-4">
						<NavLink href="/" name="Portfolio"/>
						<NavLink href="/about" name="About"/>
						<NavLink href="/now" name="Now"/>
					</div>
				</nav>
			</header>
			<main class="p-4 min-h-screen flex flex-col">
				<slot/>
			</main>
			<Footer/>
		</div>
	</body>
</html>