---
import Base from "./Base.astro";
const { title } = Astro.props.frontmatter;

const proseClasses = "prose prose-zinc prose-invert prose-h1:text-xl/tight md:prose-h1:text-2xl/tight prose-h2:text-lg/tight md:prose-h2:text-xl/tight prose-p:text-sm/relaxed md:prose-p:text-base/relaxed prose-li:text-sm/snug md:prose-li:text-base/snug prose-td:w-1 prose-td:text-sm/relaxed md:prose-td:text-base/relaxed prose:td:p-2";
---

<Base title={title}>
    <div class={proseClasses + " " + " mt-18 md:mt-28 mx-auto max-w-220 w-full"}>
        <slot/>
    </div>
</Base>